@font-face {
	font-family: 'isk-pota';
	src: url('../fonts/iskpota.ttf');
}

@font-face {
	font-family: 'isk-pota-b';
	src: url('../fonts/iskpotab.ttf');
}

*{
	/*font-family: 'isk-pota', serif;*/
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

.cc-r{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
}

.cc-a{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

ul{
	margin: 0;
	overflow: hidden;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

/*topnav*/

.topnav{
	width: 100%;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.85);
	position: fixed;
	top: 0;
	z-index: 1;
}

@media (max-width: 575px) {
	.d-logo-img-wrap{
		width: 200px;
		height: 80px;
		position: relative;
		float: left;
		margin-left: 15px;
	}

	.d-logo-img{
		width: 200px;
		cursor: pointer;
	}

	.topnav-menu-wrap{
		float: right;
		padding-right: 100px;
		height: 80px;
		display: none;
	}

	.li-topnav-menu{
		float: left;
		margin-left: 25px;
		height: 80px;
		line-height: 80px;
		font-size: .9em;
		color: #1e3768;
		cursor: pointer;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.d-logo-img-wrap{
		width: 250px;
		height: 80px;
		position: relative;
		float: left;
		margin-left: 20px;
	}

	.d-logo-img{
		width: 250px;
		cursor: pointer;
	}

	.topnav-menu-wrap{
		float: right;
		padding-right: 30px;
		height: 80px;
		display: none;
	}

	.li-topnav-menu{
		float: left;
		margin-left: 15px;
		height: 80px;
		line-height: 80px;
		font-size: .9em;
		color: #1e3768;
		cursor: pointer;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.d-logo-img-wrap{
		width: 250px;
		height: 80px;
		position: relative;
		float: left;
		margin-left: 20px;
	}

	.d-logo-img{
		width: 250px;
		cursor: pointer;
	}

	.topnav-menu-wrap{
		float: right;
		padding-right: 30px;
		height: 80px;
	}

	.li-topnav-menu{
		float: left;
		margin-left: 15px;
		height: 80px;
		line-height: 80px;
		font-size: .9em;
		color: #1e3768;
		cursor: pointer;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.d-logo-img-wrap{
		width: 250px;
		height: 80px;
		position: relative;
		float: left;
		margin-left: 30px;
	}

	.d-logo-img{
		width: 250px;
		cursor: pointer;
	}

	.topnav-menu-wrap{
		float: right;
		padding-right: 70px;
		height: 80px;
	}

	.li-topnav-menu{
		float: left;
		margin-left: 25px;
		height: 80px;
		line-height: 80px;
		font-size: .9em;
		color: #1e3768;
		cursor: pointer;
	}
}
@media (min-width: 1200px) {
	.d-logo-img-wrap{
		width: 250px;
		height: 80px;
		position: relative;
		float: left;
		margin-left: 30px;
	}

	.d-logo-img{
		width: 250px;
		cursor: pointer;
	}

	.topnav-menu-wrap{
		float: right;
		padding-right: 100px;
		height: 80px;
	}

	.li-topnav-menu{
		float: left;
		margin-left: 25px;
		height: 80px;
		line-height: 80px;
		font-size: .9em;
		color: #1e3768;
		cursor: pointer;
	}
}

.ul-topnav-menu{
	list-style: none;
	overflow: hidden;
}

.li-topnav-menu:hover{
	color: #305d9d;
	text-decoration: underline;
}

/* hamburger menu */
@media (max-width: 575px) {
	.hamburger-wrap {
		float: right;
		height: 80px;
		padding-right: 20px;
	}

	.menu-trigger {
		position: relative;
		width: 30px;
		height: 24px;
		margin-top: 28px;
	}	
}
@media (min-width: 576px) and (max-width: 767px) {
	.hamburger-wrap {
		float: right;
		height: 80px;
		padding-right: 30px;
	}

	.menu-trigger {
		position: relative;
		width: 35px;
		height: 24px;
		margin-top: 28px;
	}	
}
@media (min-width: 768px) and (max-width: 991px) {
	.hamburger-wrap {
		float: right;
		height: 80px;
		padding-right: 30px;
		display: none;
	}

	.menu-trigger {
		position: relative;
		width: 40px;
		height: 24px;
		margin-top: 28px;
	}	
}
@media (min-width: 992px) and (max-width: 1199px) {
	.hamburger-wrap {
		float: right;
		height: 80px;
		padding-right: 30px;
		display: none;
	}

	.menu-trigger {
		position: relative;
		width: 40px;
		height: 24px;
		margin-top: 28px;
	}
}
@media (min-width: 1200px) {
	.hamburger-wrap {
		float: right;
		height: 80px;
		padding-right: 30px;
		display: none;
	}

	.menu-trigger {
		position: relative;
		width: 40px;
		height: 24px;
		margin-top: 28px;
	}
}

.menu-trigger, .menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #1e3768;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top : 0;
}

.menu-trigger span:nth-of-type(2) {
	top : 10px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform : translateY(10px) rotate(-315deg);
	transform : translateY(10px) rotate(-315deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity : 0;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform : translateY(-12px) rotate(315deg);
	transform : translateY(-12px) rotate(315deg);
}

#nav {
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	display: none;
}

#nav.active {
	display: block;
}

#nav ul {
	width:100%;
	margin:0;
	padding:0;
	background-color: #fff;
	cursor:pointer;
}

.li-nav-menu {
	position: relative;
	float: left;
	width: 100%;
	list-style-type: none;
	font-size: .9em;
}

.li-nav-menu a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-indent: 30px;
	color: #1e3768;
	font-weight: bold;
	text-decoration: none;
}

.li-nav-menu a:hover {
	background: #eee;
	/* color: #305d9d; */
}

/*page01*/

#page-01{
	width: 100%;
	height: 500px;
	background-color: #fefefe;
	position: relative;
	background-image: url(../assets/main-bg02.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}

@media (max-width: 614px) {
	.p1-title-wrap{
		width: 100%;
		height: 200px;
		/*background-color: red;*/
	}

	.p1-title{
		font-size: 1.5em;
		line-height: 60px;
		margin-top: 20px;
		margin-left: 30px;
		color: #1e3768;
		/*font-family: 'isk-pota', serif;*/
	}
}
@media (min-width: 615px) and (max-width: 767px) {
	.p1-title-wrap{
		width: 100%;
		height: 200px;
		/*background-color: red;*/
	}

	.p1-title{
		font-size: 1.7em;
		line-height: 60px;
		margin-left: 30px;
		margin-top: 20px;
		color: #1e3768;
		/*font-family: 'isk-pota', serif;*/
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.p1-title-wrap{
		width: 100%;
		height: 200px;
		/*background-color: red;*/
	}

	.p1-title{
		font-size: 2.0em;
		line-height: 100px;
		margin-left: 30px;
		color: #1e3768;
		/*font-family: 'isk-pota', serif;*/
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.p1-title-wrap{
		width: 100%;
		height: 200px;
		/*background-color: red;*/
	}

	.p1-title{
		font-size: 2.2em;
		line-height: 100px;
		margin-left: 30px;
		color: #1e3768;
		/*font-family: 'isk-pota', serif;*/
	}
}
@media (min-width: 1200px) {
	.p1-title-wrap{
		width: 100%;
		height: 200px;
		/*background-color: red;*/
	}

	.p1-title{
		font-size: 2.5em;
		line-height: 100px;
		margin-left: 30px;
		color: #1e3768;
		/*font-family: 'isk-pota', serif;*/
	}
}

/*page02*/

#page-02{
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #1e3768;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p2-container{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../assets/about-img.jpg);
	background-size: cover;
}

@media (max-width: 575px) {
	.p2-left-wrap{
		width: 100%;
		/*background-color: red;*/
		height: 100%;
		position: relative;
		float: left;
	}

	.p2-title-text-wrap{
		/*padding-left: 100px;*/
		/*height: 200px;*/
		width: calc(100% - 100px);
		color:#ffffff;
	}

	.p2-title-line-1{
		font-size: 1.5em;
	}

	.p2-title-line-2{
		font-size: 1.5em;
	}

	.p2-text{
		width: 100%;
		font-size: .9em;
		margin-top: 10px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.p2-left-wrap{
		width: 100%;
		/*background-color: red;*/
		height: 100%;
		position: relative;
		float: left;
	}

	.p2-title-text-wrap{
		/*padding-left: 100px;*/
		/*height: 200px;*/
		width: calc(100% - 100px);
		color:#ffffff;
	}

	.p2-title-line-1{
		font-size: 2.0em;
	}

	.p2-title-line-2{
		font-size: 2.0em;
	}

	.p2-text{
		width: 100%;
		font-size: 1.0em;
		margin-top: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.p2-left-wrap{
		width: 100%;
		/*background-color: red;*/
		height: 100%;
		position: relative;
		float: left;
	}

	.p2-title-text-wrap{
		margin-left: 0px;
		/*height: 200px;*/
		width: calc(100% - 100px);
		color:#ffffff;
	}

	.p2-title-line-1{
		font-size: 2.0em;
	}

	.p2-title-line-2{
		font-size: 2.0em;
	}

	.p2-text{
		width: 60%;
		font-size: 1.0em;
		margin-top: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.p2-left-wrap{
		width: 65%;
		/*background-color: red;*/
		height: 100%;
		position: relative;
		float: left;
	}

	.p2-title-text-wrap{
		margin-left: 0px;
		/*height: 200px;*/
		width: calc(100% - 100px);
		color:#ffffff;
	}

	.p2-title-line-1{
		font-size: 2.0em;
	}

	.p2-title-line-2{
		font-size: 2.0em;
	}

	.p2-text{
		width: 80%;
		font-size: 1.0em;
		margin-top: 20px;
	}
}
@media (min-width: 1200px) {
	.p2-left-wrap{
	width: 50%;
	/*background-color: red;*/
	height: 100%;
	position: relative;
	float: left;
	}

	.p2-title-text-wrap{
		margin-left: 0px;
		/*height: 200px;*/
		width: calc(100% - 100px);
		color:#ffffff;
	}

	.p2-title-line-1{
		font-size: 2.0em;
	}

	.p2-title-line-2{
		font-size: 2.0em;
	}

	.p2-text{
		width: 80%;
		font-size: 1.0em;
		margin-top: 20px;
	}
}



.p2-right-wrap{
	float: left;
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	position: relative;
}

.p2-img-wrap{
	width: 100%;
}

.p2-img{
	width: 70%;
}

/*page03*/

#page-03{
	width: 100%;
	/*height: 1200px;*/
	background-color:#f8f8f8;
}

.p3-container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.p3-title-wrap{
	width: 100%;
	height: 100px;
	overflow: auto;
}

.p3-title{
	font-size: 2.0em;
	/*padding-left: 100px;*/
	/*text-align: center;*/
	margin-top: 45px;
	margin-left: 50px;
	color:#1e3768;
}

@media (max-width: 575px) {
	.p3-news-list-wrap {
		width: calc(100% - 30px);
		margin: 0 15px;
		margin-top: 5px;
		display: grid;
		grid-template-columns: repeat(1);
		grid-gap: 15px;
		grid-auto-rows: minamx(400px, auto);
	}

	.p3-news-list-wrap a {
		width: 100%;
	}

	.news-thum-sm-wrap{
		width: 100%;
		height: 370px;
		background-color: white;
		float: left;
	}

	.news-text{
		margin-top: 20px;
		font-size: 1.0em;
		line-height: 15px;
	}

}
@media (min-width: 576px) and (max-width: 767px) {
	.p3-news-list-wrap {
		width: calc(100% - 30px);
		margin: 0 15px;
		margin-top: 5px;
		display: grid;
		grid-template-columns: repeat(2);
		grid-gap: 15px;
		grid-auto-rows: minamx(400px, auto);
	}

	.p3-news-list-wrap a {
		width: 100%;
	}

	.article-one {
		grid-column:1;
		grid-row:1;
	}

	.article-two {
		grid-column:2;
		grid-row:1;
	}

	.article-three {
		grid-column:1;
		grid-row:2;
	}

	.article-four {
		grid-column:2;
		grid-row:2;
	}

	.article-five {
		grid-column:1;
		grid-row:3;
	}

	.article-six {
		grid-column:2;
		grid-row:3;
	}

	.article-seven {
		grid-column:1;
		grid-row:4;
	}

	.article-eight {
		grid-column:2;
		grid-row:4;
	}

	.news-thum-sm-wrap{
		width: 100%;
		height: 370px;
		background-color: white;
		float: left;
	}

	.news-text{
		margin-top: 20px;
		font-size: 1.0em;
		line-height: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.p3-news-list-wrap {
		width: calc(100% - 30px);
		margin: 0 15px;
		margin-top: 5px;
		display: grid;
		grid-template-columns: repeat(3);
		grid-gap: 15px;
		grid-auto-rows: minamx(400px, auto);
	}

	.p3-news-list-wrap a {
		width: 100%;
	}

	.article-one {
		grid-column:1;
		grid-row:1;
	}

	.article-two {
		grid-column:2;
		grid-row:1;
	}

	.article-three {
		grid-column:3;
		grid-row:1;
	}

	.article-four {
		grid-column:1;
		grid-row:2;
	}

	.article-five {
		grid-column:2;
		grid-row:2;
	}

	.article-six {
		grid-column:3;
		grid-row:2;
	}

	.article-seven {
		grid-column:1;
		grid-row:3;
	}

	.article-eight {
		grid-column:2;
		grid-row:3;
	}

	.news-thum-sm-wrap{
		width: 100%;
		height: 400px;
		background-color: white;
		float: left;
	}

	.news-text{
		margin-top: 20px;
		font-size: 0.8em;
		line-height: 15px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.p3-news-list-wrap {
		width: calc(100% - 30px);
		margin: 0 15px;
		margin-top: 5px;
		display: grid;
		grid-template-columns: repeat(3);
		grid-gap: 15px;
		grid-auto-rows: minamx(400px, auto);
	}

	.p3-news-list-wrap a {
		width: 100%;
	}

	.article-one {
		grid-column:1;
		grid-row:1;
	}

	.article-two {
		grid-column:2;
		grid-row:1;
	}

	.article-three {
		grid-column:3;
		grid-row:1;
	}

	.article-four {
		grid-column:1;
		grid-row:2;
	}

	.article-five {
		grid-column:2;
		grid-row:2;
	}

	.article-six {
		grid-column:3;
		grid-row:2;
	}

	.article-seven {
		grid-column:1;
		grid-row:3;
	}

	.article-eight {
		grid-column:2;
		grid-row:3;
	}

	.news-thum-sm-wrap{
		width: 100%;
		height: 400px;
		background-color: white;
		float: left;
	}

	.news-text{
		margin-top: 20px;
		font-size: 1.0em;
		line-height: 17px;
	}
}
@media (min-width: 1200px) {
	.p3-news-list-wrap {
		width: calc(100% - 30px);
		margin: 0 15px;
		margin-top: 5px;
		display: grid;
		grid-template-columns: repeat(4);
		grid-gap: 15px;
		grid-auto-rows: minamx(400px, auto);
	}

	.p3-news-list-wrap a {
		width: 100%;
	}

	.article-one {
		grid-column:1;
		grid-row:1;
	}

	.article-two {
		grid-column:2;
		grid-row:1;
	}

	.article-three {
		grid-column:3;
		grid-row:1;
	}

	.article-four {
		grid-column:4;
		grid-row:1;
	}

	.article-five {
		grid-column:1;
		grid-row:2;
	}

	.article-six {
		grid-column:2;
		grid-row:2;
	}

	.article-seven {
		grid-column:3;
		grid-row:2;
	}

	.article-eight {
		grid-column:4;
		grid-row:2;
	}

	.news-thum-sm-wrap{
		width: 100%;
		height: 400px;
		background-color: white;
		float: left;
	}

	.news-text{
		margin-top: 20px;
		font-size: 1.0em;
		line-height: 17px;
	}
}

.news-title-wrap{
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.news-company-name-wrap{
	float: left;
	font-size: .8em;
	padding-left: 30px;
}

.news-company-name{
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
}

.news-issued-date-wrap{
	float: right;
	font-size: .8em;
	padding-right: 30px;
	color: grey;
}

.news-issued-date{
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
}

.news-img-thum-sm{
	width: calc(100% - 60px);
	margin-left: auto;
	margin-right: auto;
	height: 180px;
	/*background-color: blue;*/
}

.news-img-thum-sm img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.news-text-wrap{
	width: calc(100% - 60px);
	margin-left: auto;
	margin-right: auto;
}

.news-img-sm{
	width: 100%;
}

/* PAGE4 */

@media (max-width: 575px) {
	#page-04{
		width: 100%;
		height:  450px;
		position: relative;
		/*background-color: yellow;*/
	}

	.p4-title-wrap{
		width: 100%;
		height: 100px;
		overflow: auto;
	}

	.p4-title{
		font-size: 2em;
		padding-left: 50px;
		margin-top: 45px;
	}

	.p4-whitepaper-down-wrap{
		width: 100%;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		/*background-color: red;*/
		/*margin-top: 50px;*/
	}

	.p4-wp-dw-left-wrap{
		width: 100%;
		height: 100%;
		float: left;
		/*background-color: blue;*/
	}

	.p4-wp-dw-right-wrap{
		width: 0%;
		height: 100%;
		float: left;
		position: relative;
	}

	.p4-wp-img{
		width: 80%;
		height: 60%;
		object-fit:cover;
	}

	.p4-text{
		padding: 0 50px;
		font-size: 1.1em;
		line-height: 22px;
		margin-top: 20px;
		width: 80%;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#page-04{
		width: 100%;
		height:  350px;
		position: relative;
		/*background-color: yellow;*/
	}

	.p4-title-wrap{
		width: 100%;
		height: 100px;
		overflow: auto;
	}

	.p4-title{
		font-size: 2em;
		padding-left: 50px;
		margin-top: 45px;
	}

	.p4-whitepaper-down-wrap{
		width: 100%;
		height: 350px;
		margin-left: auto;
		margin-right: auto;
		/*background-color: red;*/
		/*margin-top: 50px;*/
	}

	.p4-wp-dw-left-wrap{
		width: 100%;
		height: 100%;
		float: left;
		/*background-color: blue;*/
	}

	.p4-wp-dw-right-wrap{
		width: 0%;
		height: 100%;
		float: left;
		position: relative;
	}

	.p4-wp-img{
		width: 80%;
		height: 60%;
		object-fit:cover;
	}

	.p4-text{
		padding: 0 50px;
		font-size: 1.1em;
		line-height: 22px;
		margin-top: 20px;
		width: 85%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#page-04{
		width: 100%;
		height:  400px;
		position: relative;
		/*background-color: yellow;*/
	}

	.p4-title-wrap{
		width: 100%;
		height: 100px;
		overflow: auto;
	}

	.p4-title{
		font-size: 2em;
		padding-left: 50px;
		margin-top: 45px;
	}

	.p4-whitepaper-down-wrap{
		width: 100%;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		/*background-color: red;*/
		/*margin-top: 50px;*/
	}

	.p4-wp-dw-left-wrap{
		width: 55%;
		height: 100%;
		float: left;
		/*background-color: blue;*/
	}

	.p4-wp-dw-right-wrap{
		width: 45%;
		height: 100%;
		float: left;
		position: relative;
	}

	.p4-wp-img{
		display:block;
		margin:0 auto;
		margin-top: 45px;
		width: 80%;
		height: 300px;
		object-fit:cover;
	}

	.p4-text{
		padding: 0 50px;
		font-size: 1.1em;
		line-height: 22px;
		margin-top: 20px;
		width: 85%;
	}
}
@media (min-width: 992px) {
	#page-04{
		width: 100%;
		height:  400px;
		position: relative;
		/*background-color: yellow;*/
	}

	.p4-title-wrap{
		width: 100%;
		height: 100px;
		overflow: auto;
	}

	.p4-title{
		font-size: 2em;
		padding-left: 50px;
		margin-top: 45px;
	}

	.p4-whitepaper-down-wrap{
		width: 100%;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		/*background-color: red;*/
		/*margin-top: 50px;*/
	}

	.p4-wp-dw-left-wrap{
		width: 45%;
		height: 100%;
		float: left;
		/*background-color: blue;*/
	}

	.p4-wp-dw-right-wrap{
		width: 55%;
		height: 100%;
		float: left;
		position: relative;
	}

	.p4-wp-img{
		display:block;
		margin:0 auto;
		margin-top: 45px;
		width: 80%;
		height: 300px;
		object-fit:cover;
	}

	.p4-text{
		padding: 0 50px;
		font-size: 1.1em;
		line-height: 22px;
		margin-top: 20px;
		width: 85%;
	}
}

.wp-down-link-wrap{
	margin-left: 50px;
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
}

.ul-dw-link{
	list-style: none;
}

.li-dw-link{
	width: 150px;
	float: left;
	font-size: 1.0em;
	margin-right: 20px;
	margin-bottom: 10px;
	color: white;
	height: 40px;
	text-align: center;
	background-color:#1e3768;
	cursor: pointer;
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
}

.li-dw-link:hover{
	background-color: #305d9d;
	cursor: pointer;
}

#page-05{
	width: 100%;
	height: 500px;
	background-color:#f8f8f8;
	display: none;
}

.p5-container{
	width: 1200px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.p5-title-wrap{
	width: 100%;
	height: 100px;
	overflow: auto;
}

.p5-title{
	font-size: 2.5em;
	margin-top: 45px;
	margin-left: 50px;
}

.partner-logo-wrap{
	width: 900px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.li-partner-logo{
	width: 300px;
	height: 400px;
	float: left;
	position: relative;
}

.img-partner-logo-img{
	width: 75%;
}

#page-06{
	width: 100%;
	display: none;
}

.p6-container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 0;
}

.team-member-wrap{
	width: 100%;
	/*background-color: blue;*/
	margin-top: 50px;
}

.ul-team-member{
	overflow: hidden;
}

.li-team-member{
	width: calc(100% / 4);
	height: 500px;
	float: left;
	/*background-color: red;*/
}

.team-img-wrap{
	width: 100%;
	height: 300px;
	position: relative;
}

.team-img{
	width: 90%;
}

.team-name-wrap{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
}

.team-name{
	font-size: 2em;
}

.position-name-wrap{
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
}

.position-name{
	font-size: 1.2em;
}

.team-description-wrap{
	padding: 0 20px;
	margin-top: 10px;
}

.team-description{
	font-size: 1.0em;
}

.team-read-more-btn-wrap{
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
}

.read-more-btn{
	font-size: 1.1em;
	font-family: isk-pota-b, serif;
}

#page-07{
	width: 100%;
	background-color: #F8F8FC;
}

.p7-container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

.p7-left-wrap, .p7-right-wrap{
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
}



.p7-title-wrap{
	width: 100%;
}

.p7-title{
	font-size: 2.0em;
	width: 400px;
	margin-left: 50px;
}

.contact-list-wrap{
	width: 80%;
	height: 45%;
}

.ul-contact-list{

}

.li-contact-list{
	width: 50%;
	height: 60px;
	float: left;
	position: relative;
}

.contact-text-wrap{
	width: 100%;
}

.contact-name{
	font-size: 1.1em;
}

.contact-email{
	font-size: .9em;
	margin-top: 5px;
}

/* FOOTER */

footer{
	width: 100%;
	height: 250px;
	background-color: rgba(35, 35, 35, 0.86);

}

.footer-container{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media (max-width: 479px) {
	.footer-left-1-wrap{
		float: left;
		width: 30%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 70%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 0%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 170px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 75px;
		margin-left: 0px;
		position:absolute;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-menu-list {
		position:absolute;
		right : 20;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 0px;
		margin-left: 15px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.0em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 0px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .7em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 75px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.0em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		font-size: 1.3em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		font-size: .7em;
		color: #ffffff;
		margin-right: 5px;
		margin-left: 10px;
		margin-top: 5px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}
@media (min-width: 480px) and (max-width: 599px) {
	.footer-left-1-wrap{
		float: left;
		width: 30%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 45%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 25%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 170px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 75px;
		margin-left: 0px;
		position:absolute;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-menu-list {
		position:absolute;
		right : 20;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 0px;
		margin-left: 15px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.0em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 0px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .7em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 75px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.0em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		font-size: 1.3em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		font-size: .7em;
		color: #ffffff;
		margin-right: 5px;
		margin-left: 10px;
		margin-top: 5px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}
@media (min-width: 600px) and (max-width: 823px) {
	.footer-left-1-wrap{
		float: left;
		width: 30%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 50%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 20%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 170px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 35px;
		margin-left: 20px;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 0px;
		margin-left: 15px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 0px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .8em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		font-size: 1.3em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		font-size: .7em;
		color: #ffffff;
		margin-right: 5px;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom : 5px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}
@media (min-width: 824px) and (max-width: 991px) {
	.footer-left-1-wrap{
		float: left;
		width: 30%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 40%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 30%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 200px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 35px;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 0px;
		margin-left: 15px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 30px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .8em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 20px;
		font-size: 1.3em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		float: left;
		font-size: .7em;
		color: #ffffff;
		margin-right: 5px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.footer-left-1-wrap{
		float: left;
		width: 25%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 50%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 25%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 200px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 35px;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 0px;
		margin-left: 15px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 30px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .8em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 20px;
		font-size: 1.3em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		float: left;
		font-size: .7em;
		color: #ffffff;
		margin-right: 5px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}
@media (min-width: 1200px) {
	.footer-left-1-wrap{
		float: left;
		width: 25%;
		height: 250px;
		position: relative;
	}

	.footer-left-2-wrap{
		float: left;
		width: 50%;
		height: 250px;
		position: relative;
	}

	.footer-left-3-wrap{
		float: right;
		width: 25%;
		height: 250px;
		position: relative;
	}

	.footer-logo-wrap{
		margin-left: 30px;
		margin-top: 30px;
		width: 200px;
	}

	.footer-logo{
		width: 100%;
	}

	.footer-menu-list-wrap{
		width: 100%;
		height: 50px;
		color: white;
		margin-top: 35px;
	}

	.ul-footer-menu-list {
		flex-direction: row;
	}

	.ul-footer-submenu-list {
		flex-direction: column;
	}

	.li-footer-menu-list{
		float: left;
		margin-right: 30px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.li-footer-submenu-list {
		margin-top: 15px;
		margin-right: 40px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: .8em;
	}

	.li-footer-submenu-list a {
		color:#fff;
	}

	.li-footer-submenu-list:hover{
		cursor: pointer;
		text-decoration: underline;
	}

	.footer-sns-title-wrap{
		color: white;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.sns-title{
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
		font-size: 1.2em;
	}

	.sns-logo-list-wrap {
		margin-left: 10px;
	}

	.li-sns-logo{
		float: left;
		margin-right: 40px;
		font-size: 1.5em;
		color: white;
	}

	.footer-terms-wrap{
		position: absolute;
		bottom: 20px;
	}

	.li-footer-terms{
		float: left;
		font-size: .8em;
		color: #ffffff;
		margin-right: 10px;
		margin-left: 10px;
		font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
	}
}

.copyright-text-wrap{
	position: absolute;
	bottom: 20px;
	left: 30px;
}

.copyright-text{
	font-size: .6em;
	color: #ffffff;
	font-family: "proxima-nova", "Proxima Nova", "Noto Sans", sans-serif;
}
